/bin
/connectedtexturestool
/build_box
/layouts/ConnectedTexturesMod_export
/layouts_backup/ConnectedTexturesMod_export
/stitch/export
/stitch/input/0
/stitch/input/1
/stitch/input/2
/stitch/input/3
stitchtool.jar
